<!DOCTYPE html>
<html lang="en-us" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1" name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calculation Page</title>
    <link rel="stylesheet" href="css/styles.css" />
    <style>
        .column {
            float: left;
            width: 50%;
        }
    </style>
    <script src="js/scripts.js"></script>
    <script src="https://kit.fontawesome.com/f1216501c4.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="logo">SnailExpress</div>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/about}">About</a></li>
            <li><a th:href="@{/career}">Career</a></li>
            <li><a th:href="@{/contacts}">Contacts</a></li>
            <li><a th:href="@{/personalpage}">Account</a></li>
        </ul>
        <i class="fas fa-shopping-cart" id="cart"></i>
        <input type="text" placeholder="Search.." />
    </nav>
    <h1>Calculate Your Shipment</h1>
    <form th:action="@{/calculation_process}" method="post" th:object="${cargo}" style="width: 800px; height: 440px">
        <div class="column">
            <select id="from" name="from" th:field="*{from}" required>
                <option value="" selected>Choose 'From' station</option>
                <option value="Albany">Albany</option>
                <option value="Baltimore">Baltimore</option>
                <option value="Boston">Boston</option>
                <option value="Buffalo">Buffalo</option>
                <option value="Cleveland">Cleveland</option>
                <option value="New York">New York</option>
                <option value="Philadelphia">Philadelphia</option>
                <option value="Pittsburg">Pittsburg</option>
                <option value="Richmond">Richmond</option>
                <option value="Washington">Washington</option>
            </select><br/>
            <select id="to" name="to" th:field="*{to}" required>
                <option value="" selected>Choose 'To' station</option>
                <option value="Albany">Albany</option>
                <option value="Baltimore">Baltimore</option>
                <option value="Boston">Boston</option>
                <option value="Buffalo">Buffalo</option>
                <option value="Cleveland">Cleveland</option>
                <option value="New York">New York</option>
                <option value="Philadelphia">Philadelphia</option>
                <option value="Pittsburg">Pittsburg</option>
                <option value="Richmond">Richmond</option>
                <option value="Washington">Washington</option>
            </select><br/>
            <input type="number" id="weight" name="weight" th:field="*{weight}" required placeholder="Input weight in pounds" /><br/>
            <select id="cargotype" name="cargotype" th:field="*{cargoType}" required>
                <option value="" selected>Choose Type of Cargo</option>
                <option value="Common">Common</option>
                <option value="Hazardous">Hazardous</option>
            </select><br/>
            <select id="shipmenttype" name="shipmenttype" th:field="*{shippingType}" required>
                <option value="" selected>Choose Type of Shipment</option>
                <option value="Regular">Regular</option>
                <option value="Express">Express</option>
            </select><br/>
        </div>
        <div class="column">
            <input type="submit" value="CALCULATE" /><br/><br/>
            <p style="margin: 20px 60px; width: 250px; height: 200px; border: 5px solid green; border-radius: 10px">
            	<p>Price:</p>
            	<output style="width: 300px; color: white; font-size: 25px">
            		<span th:text="${price}"></span>
            	</output><br/><br/>
            	<p>Delivery Time:</p>
            	<output style="width: 300px; color: white; font-size: 25px">
            		<span th:text="${time}"></span>
            	</output>
            </p>
        </div>
    </form>
    <footer>
        <p>&copy SnailExpress</p>
    </footer>
</body>
</html>